<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {%load static%}

  <link rel="stylesheet" href="{% static '/main/css/style.css' %}">
  <script src="{% static '/main/js/helpers.js' %}"></script>
  <script src="{% static '/main/js/actions.js' %}"></script>
  <script src="{% static '/main/js/libs/component.js' %}"></script>
  <script src="{% static '/main/js/libs/request.js' %}"></script>
  <script src="{% static '/main/js/libs/dto.js' %}"></script>

  <script src="{% static '/main/js/category/data.js' %}"></script>
  <script src="{% static '/main/js/category/controller.js' %}"></script>
  <script src="{% static '/main/js/category/view.js' %}"></script>
  <script src="{% static '/main/js/category/reducer.js' %}"></script>

  <script src="{% static '/main/js/product/data.js' %}"></script>
  <script src="{% static '/main/js/product/controller.js' %}"></script>
  <script src="{% static '/main/js/product/view.js' %}"></script>
  <script src="{% static '/main/js/product/reducer.js' %}"></script>
  
  <title>EL que te de la gana</title>
</head>
<body>
  <nav class="nav">
    <div class="nav__buscador-container">
      <input class="nav__input" type="text" placeholder="Buscador" name="buscador">
      <div class="buscador__filtro">
        <select id="$categoriaFiltro">
        </select>
        
      </div>
      <button class="nav__buttom-buscador"type="submit">🔍</button>
    </div>
    <a class="nav__buttom" href="/auth/logout">🚪 <span class="md-show">Salir</span></a>
  </nav>
  <div class="flash__message" id="$flashMessage">
  </div>
  <div class="modal" id="$loadinger">
    <div class="loading">
    </div>
  </div>
  <div class="modal" id="$modal">
    <div class="form__container">
      <h2 class="form__title" >Agrega Un Producto Aqui!</h2>
      <form id="$formAdd" method="POST">
        <label for="$name">Nombre del producto</label>
        <input name="nombre" type="text" placeholder="nombre" id="$name">
        <label for="$price">Precio del producto</label>
        <input name="precio" type="number" step="0.01" placeholder="precio" id="$price">
        <label for="$categorys">Selecciona Una Categorias</label>
        <select name="categoria" id="$categoris">
        </select>
        <button type="submit">Agregar</button>
      </form>
    </div>
  </div>
  <div class="float">
    <button class="btn" id="$btnToggle">+</button>
  </div>
  <div class="container">
    <table class="dtable">
      <thead>
        <tr class="thead">
          <th>#</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Categoria</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody id="$products">
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <a class="next-prev">«</a>
      <a href="#">0</a>
      <a class="next-prev">»</a>
    </div>
  </div>

  <script src="{% static '/main/js/main.js' %}"></script>
</body>
</html>